@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap');
:root{
    --primary-clr: #cfdee7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}
body{
    position: relative;
    padding-bottom: 30px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #193fa8;
}

.container{
    position: relative;
    width: 95vw;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color: #ffffff;
    display: flex;

    background-color: #028ada;
    border-radius: 10px;
}   
.container .left{
    width: 60%;
    padding: 20px;
}
.calendar{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #ffffff;
    border-radius: 5px;
    background-color: #ffa201;
    padding: 2vw;
}
.calendar::before,
.calendar::after{
    content: "";
    position: absolute;
    top:50%;
    left:100%;
    width:12px;
    height:97%;
    border-radius: 0 5px 5px 0;
    background-color: #e9b036d7;
    transform: translateY(-50%);
}
.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: #ebe07dd7;
}
.calendar .month .prev,
.calendar .month .next{
    width: 1.5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    aspect-ratio: 1/1;
    color: white;
    font-size: 1em;
}
.calendar .month{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-size: calc(3% + 2.2vw);
    font-weight: 500;
    text-transform: capitalize;
    max-height: 200vh;
}
.calendar .month div{
    margin: 2px;
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover,
.calendar .month .date:hover{
    color: var(--primary-clr);
}
.calendar .weekdays{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 calc(4% + 12px);
    font-size: 1rem;
    text-transform: capitalize;
    align-items: center;
}

.calendar .weekdays div{
    margin: 3%;
    width: 7%;
    height: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 calc(4% + 12px);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5vw;
}
.calendar .days div{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.15em;
    flex-wrap: wrap;
    width: 7%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    object-fit: cover;
}
.calendar .days .day {
    color: #f7c340ea;
    background: #f1eaea;
  }
.calendar .days .prev-date,
.calendar .days .next-date{
    color: #d4c3c3;
    background: rgb(30, 30, 30);
    opacity: 50%;
}
.calendar .days .active{
    color: #ffe600;
    background: #028ada;
}
.calendar .days div:hover
{
    cursor: pointer;
}
.to-do-button{
    position: absolute;
    height: 32.5px;
    top: 0;
    right: 8px;
    transform: translate(0, 10px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: green;
    text-align: center;
    font-size: 22.5px;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
    display: flex;
    margin: auto;
    cursor: pointer;
}
.container .right{
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}
.event-page-container{
    border-radius: 10px;
    position: relative;
    left: 1.5vw;
    width: 95%;
    height: 95%;
    background: #fc8cb7;
    min-height: 1vh;
    min-width: 210px;
    padding: 2vw 1vw 0 1vw;

}
.right .today-date{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding: 10%;
    margin-bottom: 20px;

    font-size:1.45em;
    text-transform: capitalize;
}
.right .date-today .event-day{
    font-weight: 500;
    font-size: 2rem;
}
.right .date-today .event-date{
    font-weight: 400;
    font-size: 1rem;
    color:#d4c3c3
}
.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
  }
  .events .event {
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    background: linear-gradient(80deg, #4965d5, transparent);
    cursor: pointer;
  }
  /* even event */
  .events .event:nth-child(even) {
    background: transparent;
  }
  .events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
  }
  .events .event .title .event-title {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--primary-clr);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #878895;
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* add tick in event after */
  .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
  }
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #ececf0;
    border: 2px solid #ececf0;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3fec70;
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .event-close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .event-close:hover {
    color: var(--primary-clr);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--primary-clr);
  }


/*section for login page*/
#login-page {
    position: relative;
    background-color: #028ada;
}
.container-login {
    margin: auto;
    display: flex;
    height: 100%;
  }
.display-box {
    position: relative;
    display: flex;
    
    max-width: 90vw;
    padding: 5vh 4vw;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.container-login button {
    text-transform: uppercase;
    outline: 0;
    background: #FFA201;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
}
.container-login .message {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1c15bb;
    font-size: calc(1.2em - 0.5vw);
}
.section-credit{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;
}
/*end of login page style*/

/*section for to do list*/
.to-do-list-overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    display:none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9ec5a947;
    z-index: 2;
}
.to-do-page-container{
    display: flex;
    border-radius: 10px;
    position: relative;
    left: 25%;
    width: 95%;
    height: 95%;
    background: #1d870d;
    min-height: 1vh;
    padding: 2vw 1vw 0 1vw;
    max-width: 800px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.to-do-top-title{
    font-size: 2em;
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.to-do-list {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.to-do-list .to-do {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(80deg, #3454d2, transparent);
  cursor: pointer;
}
/* even to-do */
.to-do-list .to-do:nth-child(even) {
  background: transparent;
}
.to-do-list .to-do:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.to-do-list .to-do .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.to-do-list .to-do .title .to-do-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.to-do-list .to-do i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.to-do-list .to-do:hover i {
  color: #fff;
}
/* add tick in event after */
.to-do-list .to-do::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: var(--primary-clr);
  transform: translateY(-50%);
}
.to-do-list .to-do:hover::after {
  display: flex;
}
.add-to-do {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #ececf0;
  border: 2px solid #ececf0;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-to-do:hover {
  opacity: 1;
}
.add-to-do i {
  pointer-events: none;
}
.to-do .no-to-do {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #0ad142;
}

/*month select style*/
.month-select-box{
  position: absolute;
  left: 50%;
  width: 50%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
  z-index: 3;
}
.month-select-box.active{
  max-height: 200px;
  min-width: 200px;
}
.month-selector{
  display: grid;
  padding: 1vw 2vw;
  background: #92e4ee;
}

.list-months{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}
.list-months div{
  color: #3c4043;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1em;
}
.list-months .list-month:hover{
  color: #028ada;
}
.list-months .list-month.selected{
  color:#028ada;
}
.year-input{
  padding-left: 2px;
  border-radius: 5px;
  margin-top: 5px;
}

.month-select-submit{
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: #89de6c;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    margin-top: 1vw
}


/*screenwidth related*/
@media screen and (max-width: 1500px) {
  .container {
    max-width: 1600px;
  }
} 
@media screen and (max-width: 1200px) {
  .right .today-date{
    font-size: 1.35em;
  }
}

@media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar{
        margin-bottom: 2rem;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
        width: 94%;
        top: calc(100% + 12px);
    }
    .events {
        padding-bottom: 340px;
    }
    .events .no-event{
      height: 100%;
    }
    .right .today-date{
      padding: 5%;
      font-size:calc(1.3em - 10%);
    }
    .add-event-wrapper {
        bottom: 100px;
    }
    .calendar .month {
        font-size: calc(0.8em + 1vw);
    }
  }
@media screen and (max-width: 500px) {
    .calendar .month {
      font-size: calc(0.6em + 2vw);
    }

    .right .today-date {
      padding: 20px;
      margin-top: 20px;
    }
    .calendar .days div{
        font-size: 0.62em;   
    }
    .to-do-button{
      height: 25px;
      font-size: 20px;
    }
  }